/*task 2*/
/*static example*/
.parent{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 1px solid blue;
    position: static;
}
.item-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*absolute example*/
.item-2{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 1px solid blue;
   
}
.item-3{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 1px solid blue;
   position: absolute;
   top: 25px;

}
/*relative example*/
.item-4{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 1px solid blue;
    position: absolute;
    top: 0px;
    right:0px;
    

}
.parent2{
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 10px;
    position: relative;
}

/*fixed example*/
.parent3{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 1px solid blue;
    position: fixed;
    top: 0px;
    left: 100px;
}
.item-5{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*sticky example*/
.item-6{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 1px solid blue;
    position: sticky;
    top: 0px;
    left: 10px;
}
#p1{
    font-size: 50px;
}
